@import './styles/font.scss';
@import './normalize.scss';
@import './styles/mixins.scss';
@import './styles/cursor.scss';
@import "./styles/burger.scss";
@import "./styles/header.scss";
@import "./styles/home.scss";
@import './styles/map.scss';
@import './styles/info.scss';

body {
    /* scroll-behavior: smooth; */
}

.main {
    position: relative;
    display: flex;
    scrollbar-width: none;
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;

    &__home {
        cursor: hidden;
        background-image: url(./assets/img/bg-children.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: inset 0px 100vh 4px rgba(21, 3, 3, 0.51);
        height: 100vh;
        min-width: 100vw;
    }

    &__map {
        min-width: 100vw;
        height: 100vh;
        text-align: center;
        background-color: black;
    }
}