.header {
    position: fixed;
    z-index: 4;
    height: 100vh;
    width: 70px;
    left: 0px;
    border-right: 3px solid #fff;
    padding: 12px 0px;
    transition: 0.2s;
    @include flex(column, center, space-between, 0px);

    &:hover {
        backdrop-filter: blur(5px) saturate(120%);
    }

    &__logo, &__mgol {
        display: block;
        height: 60px;
        width: 60px;
        background-size: cover;
    }

    &__logo {
        background-image: url(./assets/img/logo.png);
    }

    &__mgol {
        background-image: url(./assets/img/mgol.png);
    }
}