.map {
    @include flex(column, center, center, 0px);
    position: relative;

    .city {
        position: absolute;
        display: block;
        height: 5vw;
        width: 5vw;
        border-radius: 50%;
    }

    &__borisov {
        left: 63%;
        top: 15.5%;
    }

    &__slutsk {
        left: 44.5%;
        top: 87%;
    }

    &__molodechno {
        left: 30%;
        top: 11%;
    }

    &__nesvizh {
        left: 27.1%;
        top: 75.6%;
    }

    &__iluyansk {
        left: 38.7%;
        top: 4.1%;
    }

    &__radosh {
        left: 38.3%;
        top: 19.6%;
    }

    &__ivenets {
        left: 28.3%;
        top: 35.3%;
    }

    &__bg {
        height: 100vh;
        width: 100vw;
    }

    .visible {
        background-color: #ffbfbf37;
    }

    &__about {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 60%;
        width: 70%;
        background-color: #393939a7;
        margin: auto;
        box-shadow:0 0 10px #430b0b;
        color: rgb(188, 188, 188);
        font-family: 'Arimo', sans-serif;
        font-family: 'Noto Serif Georgian', serif;
        font-family: 'Oswald', sans-serif;
        @include flex(column, center, space-between, 0px);

        &.hidden {
            display: none;
        }
    }

    &__hand {
        font-size: 28px;
        color: #520000d6;
    }

    &__text {
        text-align: start;
        margin: 20px 60px;
        font-size: 30px;
    }

    &__cont {
        position: relative;
        height: 90px;
    }

    &__close {
        position: absolute;
        margin: 0 auto;
        padding: 10px 20px;
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    &__visible {
        padding: 10px 20px;
        background-color: #e8e8e8a7;
        color: #000;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

button {
    position: absolute;
    top: 30%;
    left: 90%;
}