@font-face {
    font-family: 'Trirong';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/helveticaneuecyr-ultralight3.ttf) format('woff2');
}

@font-face {
    font-family: 'Title';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/title.ttf) format('woff2');
}